{% block title%}

{% endblock %}

{%block content%}
<style>
    body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
</style>
<div class="container text-center">

    <div class="alert alert-info" role="alert">
        <h2><center>You have Successfully !!!<h2/></center>
</div>
</div>
<center>
              <a href="login">
             <center> <button type="submit" onclick="login" name="submit" class="btn btn-warning">
              LOGIN HERE!!</button></a></center>
</center>
{% endblock %}