body{
    font-family: 'Raleway', sans-serif;
}
.nav-item {
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;

}
.dropdown-item{
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}

/*** Category page ***/
.my_row_class{
    padding-top :15px;
}
.my_row_class .mx_auto{
    color:#000;
    font-size:12px;
}
.my_image{
    width:100%;
    height:auto;
}
.my_title{
    font-size:16px;
    text_transform:uppercase;
    letter-spacing:.2em;
}
.my_image_padding{
    padding:5px;

}
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h4{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.2em;
}

/*** product page ***/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;
}
.my_prod_row_class .mx_auto{
    color:#000;
    font-size:12px;
    text-decoration:none;
}
.my_prod_title{
    font-size:16px;
    text_transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;
}
.my_search_text{
    padding-top:20px;
}
.fa fa-shopping-cart{
    font-size: 12px;
}

/***Cart Page ***/
.my_custom_table{
    min-width:400px;
    font-size:14px;
}
.my_custom_thead{
    font-weight:normal;
    text_transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f8fa!important;
}
.custom_a{
    text-decoration:none;
}
.custom_icon{
    text_decoration:none;
    color:#868e96 !important;

}
.my_custom_button{
    margin-top:5px;

}
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}